/* back icon stick on the top of the page
   see gallery.js for implementation */
#gal_sticky_icon {
     position: fixed;
     right:0;
/*     top:100;*/
     z-index: 100000;
}
#gal_sticky_icon.sticky {
     position: fixed;
     top: 0;
     right:0;
}

/* Thumbs are initialy hidden */
.gal_imgthumb{
     display: none;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 20px;
     margin-top: 5px;
}

/* Count remaining image to load */
#gal_count{
    display: block;
    position: absolute;
    top: 40px;
    left: 60px;
    width: 50px;
    z-index: 100000;
    font-size: 18px;
    text-align: center;
}

/* Loading icon, with count in the middle, see above */
#gal_loading_icon
{
	display: block;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 60px;
	top: 10px;
	margin: 0 0 0 -15px;
	border: 8px solid #ccc;
	border-right-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px #aaa;
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	-ms-animation: spin 1s linear infinite;
	-o-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
@-webkit-keyframes spin
{
	from { -webkit-transform: rotate(0deg); opacity: 0.4; }
	50%  { -webkit-transform: rotate(180deg); opacity: 1; }
	to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

@-moz-keyframes spin
{
	from { -moz-transform: rotate(0deg); opacity: 0.4; }
	50%  { -moz-transform: rotate(180deg); opacity: 1; }
	to   { -moz-transform: rotate(360deg); opacity: 0.4; }
}

@-ms-keyframes spin
{
	from { -ms-transform: rotate(0deg); opacity: 0.4; }
	50%  { -ms-transform: rotate(180deg); opacity: 1; }
	to   { -ms-transform: rotate(360deg); opacity: 0.4; }
}

@-o-keyframes spin
{
	from { -o-transform: rotate(0deg); opacity: 0.4; }
	50%  { -o-transform: rotate(180deg); opacity: 1; }
	to   { -o-transform: rotate(360deg); opacity: 0.4; }
}

@keyframes spin
{
	from { transform: rotate(0deg); opacity: 0.2; }
	50%  { transform: rotate(180deg); opacity: 1; }
	to   { transform: rotate(360deg); opacity: 0.2; }
}

.gal_dir {

}

/* TILT effect for image */
.gal_tilt {
/*  box-shadow: 1px 1px 12px #555;*/
/*  border: solid 3px white;*/
/*  border-radius: 5px;*/
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.gal_tilt:hover {
  -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
       -o-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg);
  /*-webkit-filter: contrast(110%);*/
  -webkit-filter: brightness(110%);
}

/* B&W effect for image*/
.gal_bw {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.gal_bw:hover {
  -webkit-filter: grayscale(100%);
}

